#root .sml-purple-icon-button,
#root .sml-purple-icon-button:focus, #root .sml-purple-icon-button:active:focus, #root .sml-purple-icon-button.active:focus,
#root .sml-purple-icon-button.focus, #root .sml-purple-icon-button:active.focus, #root .sml-purple-icon-button.active.focus {
  color: #6666FD;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}

#root .sml-purple-icon-button:hover {
  color: #5656D8;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}

/* ---------------- */

#root .sml-select-btn,
#root .sml-select-btn:focus, #root .sml-select-btn:active:focus, #root .sml-select-btn.active:focus,
#root .sml-select-btn.focus, #root .sml-select-btn:active.focus, #root .sml-select-btn.active.focus {
  width: 120px;
  margin: 10px 10px 0 0;
  padding: 2px 20px;
  background-color: #fff;
  color: #6666FD;
  border-color: #6666FD;
  outline: none;
  box-shadow: none;
}

#root .sml-select-btn:hover {
  color: #5656D8;
  border-color: #5656D8;
  outline: none;
  box-shadow: none;
}

/* ---------------- */

#root .sml-white-btn,
#root .sml-white-btn:focus, #root .sml-white-btn:active:focus, #root .sml-white-btn.active:focus,
#root .sml-white-btn.focus, #root .sml-white-btn:active.focus, #root .sml-white-btn.active.focus {
  margin-top: 10px;
  padding: 2px 20px;
  background-color: #fff;
  color: #6666FD;
  border-color: #6666FD;
  min-width: 100px;
  outline: none;
  box-shadow: none;
}

#root .sml-white-btn:hover {
  color: #5656D8;
  border-color: #5656D8;
  outline: none;
  box-shadow: none;
}

/* ---------------- */

#root .sml-purple-no-border-btn,
#root .sml-purple-no-border-btn:focus, #root .sml-purple-no-border-btn:active:focus, #root .sml-purple-no-border-btn.active:focus,
#root .sml-purple-no-border-btn.focus, #root .sml-purple-no-border-btn:active.focus, #root .sml-purple-no-border-btn.active.focus {
  color: #6666FD;
  border: none;
  outline: none;
  box-shadow: none;
}

#root .sml-purple-no-border-btn:hover {
  color: #5656D8;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
}

/* ---------------- */

#root .sml-purple-border-btn,
#root .sml-purple-border-btn:focus, #root .sml-purple-border-btn:active:focus, #root .sml-purple-border-btn.active:focus,
#root .sml-purple-border-btn.focus, #root .sml-purple-border-btn:active.focus, #root .sml-purple-border-btn.active.focus {
  margin: 10px 15px;
  padding: 2px 20px;
  color: #6666FD;
  border-color: #6666FD;
  min-width: 100px;
  outline: none;
  box-shadow: none;
}

#root .sml-purple-border-btn:hover {
  color: #5656D8;
  border-color: #5656D8;
  background-color: transparent;
  outline: none;
  box-shadow: none;
}

/* ---------------- */

#root .med-purple-border-btn,
#root .med-purple-border-btn:focus, #root .med-purple-border-btn:active:focus, #root .med-purple-border-btn.active:focus,
#root .med-purple-border-btn.focus, #root .med-purple-border-btn:active.focus, #root .med-purple-border-btn.active.focus {
  margin: 20px 0;
  padding: 10px 20px;
  color: #6666FD;
  border-color: #6666FD;
  min-width: 100px;
  outline: none;
  box-shadow: none;
}

#root .med-purple-border-btn:hover {
  color: #5656D8;
  border-color: #5656D8;
  background-color: transparent;
  outline: none;
  box-shadow: none;
}

/* ---------------- */

#root .med-purple-btn,
#root .med-purple-btn:focus, #root .med-purple-btn:active:focus, #root .med-purple-btn.active:focus,
#root .med-purple-btn.focus, #root .med-purple-btn:active.focus, #root .med-purple-btn.active.focus {
  font-weight: 600;
  margin: 20px 0;
  padding: 10px 20px;
  color: #fff;
  border-color: #6666FD;
  background-color: #6666FD;
  min-width: 100px;
  outline: none;
  box-shadow: none;
}

#root .med-purple-btn:hover {
  background-color: #5656D8;
}

/* ---------------- */

#root .med-purple-icon {
  color: #6666FD;
  background-color: transparent;
  border: none;
}

#root .med-purple-icon:hover,
#root .med-purple-icon:focus, #root .med-purple-icon:active:focus, #root .med-purple-icon.active:focus,
#root .med-purple-icon.focus, #root .med-purple-icon:active.focus, #root .med-purple-icon.active.focus {
  color: #5656D8;
  background-color: transparent;
  outline: none;
  box-shadow: none;
}

/* ---------------- */
