.header {
  padding: 20px 0 20px 20px;
}

.header-background-trans {
  background-color: transparent;
  transition-duration: 0.5s;
}

.header-background-color {
  background-color: #fff;
  transition-duration: 1s;
  box-shadow: 0 0px 10px #bcbcbc;
}

img {
  width: 200px;
}
